/* -----------------------------BUTTON CANCEL------------------------------------- */

.btn-cancel {
    color: #fff;
    background-color: var(--plomoOscuroEmpresarial);
    border-color: var(--plomoOscuroEmpresarial);
    font-size: var(--tamañoLetraInput);
}